<form>
    <label>
        Notes Background color
        <input type = "color" id="notesColor" value="{{notesColor}}" list="color"/>
        <datalist id ="color">
            <option value = "#F8F8FF"></option>
            <option value = "#D7E5C5"></option>
            <option value = "#C8C3E0"></option>
            <option value = "#CBDDE1"></option>
        </datalist>
    </label>
    <label>
        Remote CouchDB Url
        <input type="text" id = "CouchDbUrl" value="{{couchDbUrl" placeholder = "https://xxx.iriscouch.com/todo"/>
    </label>
    <div class = "buttons">
        <button id="dismiss"> Dismiss </button>
    </div>
</form>